<div class = "modal fade" id = "showNotice">
    <div class = "modal-dialog modal-xl modal-dialog-centered">
        <div class = "modal-content">

            <div class ="modal-header d-flex justify-content-center align-items-center text-center">
                <div id = "userNotice"></div>
                <div id = "typeNotice"></div>
            </div>
            
            <div class="modal-body">
                <div class = "row d-flex justify-content-between">
                    <div class = "col col-sm col-md col-xl" id = "noticeDate"></div>
                    <div class = "col col-sm col-md col-xl" id = "noticeFunction"></div>
                    <div class = "col col-sm col-md col-xl" id = "noticeProfile"></div>
                </div> 
            </div>
        </div>

    </div>
</div>