<header>
    <div class = "p-2 d-flex justify-content-between align-items-center bg-light">
        
        <div id = "logo">
            <a href = "#">
                <img src = "/images/logo.png" alt = "Logo de la Universidad Complutense de Madrid">
            </a>
        </div>

        <div class = "text-center" id = "title">
            <h3> UCM - CAU </h3>
            <h6> Centro de Atención al Usuario </h6>
        </div>

        <div class = "d-flex align-items-center" id = "user">
            <div id = "image">
                <a href = "">
                    <img src = "/images/noUser.png" alt = "Imagen de usuario" class = "rounded-circle">
                </a>
            </div>
            <div id = "name">
                <a href = "#" class = "text-decoration-none">
                    Usuario
                </a>
            </div>
            <div id = "logout">
                    <a href = "#" class = "material-icons text-decoration-none">logout</a>
            </div>
        </div>
    </div>
</header>

