<header>
    <div class = "row p-3 align-items-center bg-light">
        <div class = "col col-sm-2 col-md-2 col-xl-2">
            <a href = "#">
                <img src = "../public/images/logo.png" alt = "Logo de la Universidad Complutense de Madrid">
            </a>
        </div>
        <div class = "col offset-sm-2 offset-md-2 offset-xl-2 col-sm-2 col-md-4 col-xl-4" style = "text-align: center;">
            <h3> UCM - CAU </h3>
            <h6> Centro de Atención al Usuario </h6>
        </div>

        <!-- Dark mode -->
    </div>
</header>