<!DOCTYPE html>
<html lang="en">
<head>
    <title> Technical </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <div class = "container-fluid">
        <%- include("header") %>

        <section>
            <nav class = "bg-light" role = "tablist">
                <ul class = "nav nav-tabs me-auto">

                    <li class = "nav-item">
                        <a href = "#incomingNotices" class = "nav-link active" data-bs-toggle = "tab"> Avisos Entrantes </a>
                    </li>

                    <li class = "nav-item">
                        <a href = "#myNotices" class = "nav-link" data-bs-toggle = "tab"> Mis Avisos </a>
                    </li>

                    <li class = "nav-item">
                        <a href = "#noticesHistorical" class = "nav-link" data-bs-toggle = "tab"> Histórico de Avisos </a>
                    </li>

                    <li class = "nav-item">
                        <a href = "#userManagement" class = "nav-link" data-bs-toggle = "tab"> Gestión de usuarios </a>
                    </li>

                    <form action = "GET" class = "d-flex">
                        <input type = "text" placeholder = "Search" class = "form-control me-2">
                        <button type = "submit" class = "btn btn-primary"> Buscar </button>
                    </form>
                </ul>


            </nav>
        </section>

        <section>
            <div class = "tab-content">
                <div id="incomingNotices" class = "tab-pane active">
                    <div class="table-responsive">
                        <table class = "table-hover text-center" style = "width: 100%;">
                            <thead>
                                <tr>
                                    <th> Tipo </th>
                                    <th> Fecha </th>
                                    <th> Texto </th>
                                    <th> Acciones </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> Ejemplo </td>
                                    <td> Ejemplo </td>
                                    <td> Ejemplo </td>
                                    <td> Ejemplo </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id = "myNotices" class = "tab-pane fade">
                    <div class = "table-responsive">
                        <table class = "table-hover text-center" style = "width: 100%;">
                            <thead>
                                <tr>
                                    <th> Tipo </th>
                                    <th> Fecha </th>
                                    <th> Texto </th>
                                    <th> Acciones </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                </tr>
                            </tbody>
                        </table>    
                    </div>
                </div>
                <div id = "noticesHistorical" class = "tab-pane fade">
                    <div class = "table-responsive">
                        <table class = "table-hover text-center" style = "width: 100%;">
                            <thead>
                                <tr>
                                    <th> Tipo </th>
                                    <th> Fecha </th>
                                    <th> Texto </th>
                                    <th> Acciones </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div id = "userManagement" class = "tab-pane fade">
                    <div class = "table-responsive">
                        <table class = "table-hover text-center" style = "width: 100%;">
                            <thead>
                                <tr>
                                    <th> Fecha </th>
                                    <th> Nombre </th>
                                    <th> Rol </th>
                                    <th> Acciones </th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>