<!DOCTYPE html>
<html lang = "es">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href = "../public/style/user.css">
    <title> User </title>
</head>
<body>
    
    <header>
        <nav class = "nav navbar-expand-sm navbar-light bg-light">

            <div class = "col col-sm-1 col-md-1 col-xl-1">
                <!-- logo -->
                <a class="navbar-brand" href = "#">
                    <img src = "../public/images/logo.png" alt = "Logo de la Universidad Complutense de Madrid">
                </a>
            </div>
            
            <div class = "col offset-3 col-sm-4 col-md-4 col-xl-4" id = "title">
                <h3> UCM - CAU</h3>
                <h6> Centro de Atención al Usuario </h6>
            </div>

            <!-- user -->
            <div class = "col col-sm-2 col-md-2 col-xl-2" id = "user">
                
            </div>
        </nav>
    </header>

    <div class = "container mt-3">
        <!-- Avisos -->

        <!-- Table -->
        <div class = "table-responsive">
            <table class = "table table-hover">
                <thead>
                    <tr>
                        <th> Fecha </th>
                        <th> Texto </th>
                        <th> Tipo </th>
                        <th> Técnico </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</body>
</html>